*.aux
*.bak
*.bbl
*.blg
*.log
*.lof
*.lot
*.out
*.pyc
*.sav
*.swp
*.toc
*.~lock*
__pycache__
venv
code/mag_misc/*.json
code/arxiv_misc/*.json
code/recommender_*/*.json
code/recommender_*/*.dict
code/recommender_*/*.mm
code/recommender_*/*.mm.index
code/recommender_*/*.db
code/recommender_*/items*.csv
code/arxiv_prepare/aid_title.db
